@tailwind base;
@tailwind components;
@tailwind utilities;

nextjs-portal {
  display: none;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

.radix-themes {
  /* background-color: var(--accent-1); */
  color: var(--gray-12);
  &:where([data-has-background="true"]) {
    background-color: var(--color-background);
  }
  display: grid;
  grid-template-columns: 2fr 2fr 8fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 8fr;
}

/* Navbar */
#navbar {
  display: grid;
  grid-area: 1 / 1 / 2 / 6;
  grid-template-columns: 2fr 6fr 2fr;
}

#navHome {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: center;
  align-self: center;
}
/* End Nav Bar */
